### Import the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from datetime import timedelta

### Loading the data in a datafram.

In [2]:
data = pd.read_csv('dataset/weather-sa-2017-2019-clean.csv')
data.shape

(249023, 15)

In [3]:
data.head()

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,0,Qassim,1 January 2017,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16
1,1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249023 non-null  int64
 1   city        249023 non-null  object
 2   date        249023 non-null  object
 3   time        249023 non-null  object
 4   year        249023 non-null  int64
 5   month       249023 non-null  int64
 6   day         249023 non-null  int64
 7   hour        249023 non-null  int64
 8   minute      249023 non-null  int64
 9   weather     249023 non-null  object
 10  temp        249023 non-null  int64
 11  wind        249023 non-null  int64
 12  humidity    249006 non-null  object
 13  barometer   248951 non-null  float64
 14  visibility  249023 non-null  int64
dtypes: float64(1), int64(9), object(5)
memory usage: 28.5+ MB

It show that we have one float, 9 Integers and 5 objects data types.

In [5]:
### Convert the data types

In [6]:
data['date'] = pd.to_datetime(data["date"])
data['humidity'] = pd.to_numeric(data["humidity"].str.replace('%',' '), downcast="float") / 100

In [7]:
data

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,0,Qassim,2017-01-01,00:00,2017,1,1,24,0,Clear,17,11,0.64,1018.0,16
1,1,Qassim,2017-01-01,01:00,2017,1,1,1,0,Clear,17,6,0.64,1018.0,16
2,2,Qassim,2017-01-01,03:00,2017,1,1,3,0,Clear,15,11,0.72,1019.0,16
3,3,Qassim,2017-01-01,04:00,2017,1,1,4,0,Clear,15,11,0.72,1019.0,16
4,4,Qassim,2017-01-01,05:00,2017,1,1,5,0,Clear,15,9,0.72,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249018,2848,Jawf,2019-04-30,19:00,2019,4,30,19,0,Passing clouds,32,19,0.14,1014.0,-1
249019,2849,Jawf,2019-04-30,20:00,2019,4,30,20,0,Passing clouds,29,9,0.22,1015.0,-1
249020,2850,Jawf,2019-04-30,21:00,2019,4,30,21,0,Passing clouds,27,7,0.24,1016.0,-1
249021,2851,Jawf,2019-04-30,22:00,2019,4,30,22,0,Clear,26,0,0.26,1017.0,16
249022,2852,Jawf,2019-04-30,23:00,2019,4,30,23,0,Clear,24,7,0.29,1017.0,16

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249023 entries, 0 to 249022
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  249023 non-null  int64
 1   city        249023 non-null  object
 2   date        249023 non-null  datetime64[ns]
 3   time        249023 non-null  object
 4   year        249023 non-null  int64
 5   month       249023 non-null  int64
 6   day         249023 non-null  int64
 7   hour        249023 non-null  int64
 8   minute      249023 non-null  int64
 9   weather     249023 non-null  object
 10  temp        249023 non-null  int64
 11  wind        249023 non-null  int64
 12  humidity    249006 non-null  float32
 13  barometer   248951 non-null  float64
 14  visibility  249023 non-null  int64
dtypes: datetime64[ns](1), float32(1), float64(1), int64(9), object(3)
memory usage: 27.5+ MB

### Drop Unnecessary columns

Unnamed column in the index of the data and we do not need it because datafram hundle that.

### Dealing with missing values

In [9]:
data.isnull().sum()

Unnamed: 0     0
city           0
date           0
time           0
year           0
month          0
day            0
hour           0
minute         0
weather        0
temp           0
wind           0
humidity      17
barometer     72
visibility     0
dtype: int64

In [10]:
data[data['humidity'].isnull() == True]

,Unnamed: 0,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
3385,3385,Qassim,2017-05-26,10:00,2017,5,26,10,0,Sunny,37,7,NaN,NaN,3
5270,5270,Qassim,2017-08-13,04:00,2017,8,13,4,0,Clear,34,4,NaN,NaN,16
6723,6723,Qassim,2017-10-13,16:00,2017,10,13,16,0,Sunny,38,9,NaN,NaN,16
23178,23178,Hail,2017-05-26,10:00,2017,5,26,10,0,Sunny,37,7,NaN,NaN,3
25063,25063,Hail,2017-08-13,04:00,2017,8,13,4,0,Clear,34,4,NaN,NaN,16
26516,26516,Hail,2017-10-13,16:00,2017,10,13,16,0,Sunny,38,9,NaN,NaN,16
70412,70412,EP,2018-05-10,14:00,2018,5,10,14,0,Clear,37,26,NaN,1005.0,-1
72357,72357,EP,2018-08-04,19:00,2018,8,4,19,0,Clear,36,13,NaN,999.0,16
72892,72892,EP,2018-08-28,04:00,2018,8,28,4,0,Clear,30,7,NaN,997.0,16
74947,74947,EP,2018-11-26,07:00,2018,11,26,7,0,Sunny,16,19,NaN,1017.0,16
78179,78179,EP,2019-04-21,18:00,2019,4,21,18,0,Scattered clouds,26,19,NaN,1003.0,-1
124812,124812,Tabuk,2018-02-13,14:00,2018,2,13,14,0,Thunderstorms Partly sunny,18,30,NaN,NaN,9
149566,149566,Northern boarder,2017-02-02,05:21,2017,2,2,5,21,Passing clouds,1,7,NaN,NaN,2
229429,229429,Jawf,2017-02-01,23:36,2017,2,1,23,36,Clear,5,6,NaN,NaN,5
229454,229454,Jawf,2017-02-02,23:36,2017,2,2,23,36,Clear,5,6,NaN,NaN,5
229913,229913,Jawf,2017-02-22,06:23,2017,2,22,6,23,Rain Passing clouds,7,11,NaN,NaN,6
237265,237265,Jawf,2017-12-24,13:23,2017,12,24,13,23,Low level haze,28,37,NaN,NaN,5

In [11]:
data['city'].unique()

array(['Qassim', 'Hail', 'Madina', 'EP', 'Riyadh', 'Mecca', 'Tabuk',
       'Assir', 'Northern boarder', 'Jazan', 'Najran', 'Baha', 'Jawf'],
      dtype=object)

In [12]:
means = (data.groupby(by='city')[['humidity']].mean()).to_dict('index')

In [1]:
#means
means

NameError: name 'means' is not defined

In [16]:
  
data['humidity'] = data['humidity'].fillna(data.groupby('city')['humidity'].transform('mean'))

In [19]:
data.loc[3385]

Unnamed: 0                 149566
city             Northern boarder
date          2017-02-02 00:00:00
time                        05:21
year                         2017
month                           2
day                             2
hour                            5
minute                         21
weather           Passing clouds
temp                            1
wind                            7
humidity                 0.262638
barometer                     NaN
visibility                      2
Name: 149566, dtype: object

In [17]:
data[data['humidity'].isnull() == True]

Empty DataFrame
Columns: [Unnamed: 0, city, date, time, year, month, day, hour, minute, weather, temp, wind, humidity, barometer, visibility]
Index: []

In [ ]:
data.isnull().sum()

In [ ]:
#data['humidity'].fillna(data['humidity'].where(data['city'] == 'Qassim').mean()).where(data['city'] == 'Qassim')

In [ ]:
test.shape

### Weather data and create the target

In [ ]:
data['weather'].unique()

In [ ]:
import re
data['Rain'] = data['weather'].str.contains('rain|shower|sprinkle', case = False ,regex=True)

In [ ]:
data['Rain'].value_counts()

In [ ]:
data.info()